h1 {
    color: rgb(50, 5, 49);
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;

}

.noticias h2 {
    color: rgb(126, 2, 2);
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;

}

#titulo1 {
    color: rgb(39, 170, 10);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

}